{% extends ['@TisseoTest/base.html.twig'] %}

{% block body %}
<div class="test-bundle-test">
    <p>Coucou c'est moi</p>
</div>
    <div class="test-bundle-test2">
        <p>Coucou c'est moi</p>
    </div>
{% endblock %}