{% extends ['base.html.twig', 'CanalTPSamCoreBundle::index.html.twig'] %}

{% block navbar_brand %}TestBundle{% endblock %}

{% block body %}
<div class="test-bundle-test">
    <p>Coucou c'est moi</p>
</div>
    <div class="test-bundle-test2">
        <p>Coucou c'est moi</p>
    </div>
{% endblock %}